### 데이터 불러오기

In [1]:
# pymysql import 
import pymysql

In [3]:
# mysql 연결
conn = pymysql.connect(host = '', # DB IP (local에 접속하는 경우 : localhost)
                     port = 3306, # 포트 번호
                     user = '',
                     passwd = '', # mySQL 접속 계정 패스워드
                     db = 'movie', # 데이터베이스명
                     charset='utf8') # 한글 깨짐 방지

In [4]:
# DB 조회 결과를 dictionary로 저장
curs = conn.cursor(pymysql.cursors.DictCursor)

In [5]:
# movie 데이터 조회
sql = '''
SELECT * FROM movie
''' 
curs.execute(sql)

600

In [6]:
# 데이터 조회 결과를 result에 저장
result = curs.fetchall()
    
print(result[0])

{'title': '              개를 훔치는 완벽한 방법', 'distributor': '리틀빅픽처스', 'genre': '드라마', 'release_time': datetime.date(2014, 12, 31), 'time': 109, 'screening_rat': '전체 관람가', 'director': '김성호', 'dir_prev_bfnum': 495535.0, 'dir_prev_num': 1, 'num_staff': 292, 'num_actor': 8, 'box_off_num': 306642}

In [8]:
# pandas 라이브러리 import
import pandas as pd

In [9]:
# 데이터 프레임으로 result 결과 저장
df = pd.DataFrame(result)
print(df.columns) # columns
print(df.head())

Index(['box_off_num', 'dir_prev_bfnum', 'dir_prev_num', 'director',
       'distributor', 'genre', 'num_actor', 'num_staff', 'release_time',
       'screening_rat', 'time', 'title'],
      dtype='object')
   box_off_num  dir_prev_bfnum  dir_prev_num director      distributor genre  \
0       306642        495535.0             1      김성호           리틀빅픽처스   드라마
1         4778             NaN             0      정성복  유니버설픽쳐스인터내셔널코리아   뮤지컬
2         1124         35348.0             1      한윤선              어뮤즈   느와르
3         3404             NaN             0      김태곤            인디스토리   드라마
4      2963652       2636380.0             1      조근현            인벤트 디    액션

   num_actor  num_staff release_time screening_rat  time  \
0          8        292   2014-12-31        전체 관람가   109
1          5          3   2014-09-18        전체 관람가   129
2          3        126   2014-08-14      청소년 관람불가   104
3          4         32   2013-02-21       15세 관람가    85
4          3        365   2012-11-29       15세 관람가   135

                         title
0                개를 훔치는 완벽한 방법
1              1789, 바스티유의 연인들
2              18: 우리들의 성장 느와르
3                     1999, 면회
4                          26년

In [11]:
# 상위 3개의 행만 조회
df.head(3)

,box_off_num,dir_prev_bfnum,dir_prev_num,director,distributor,genre,num_actor,num_staff,release_time,screening_rat,time,title
0,306642,495535.0,1,김성호,리틀빅픽처스,드라마,8,292,2014-12-31,전체 관람가,109,개를 훔치는 완벽한 방법
1,4778,NaN,0,정성복,유니버설픽쳐스인터내셔널코리아,뮤지컬,5,3,2014-09-18,전체 관람가,129,"1789, 바스티유의 연인들"
2,1124,35348.0,1,한윤선,어뮤즈,느와르,3,126,2014-08-14,청소년 관람불가,104,18: 우리들의 성장 느와르

In [12]:
# 데이터프레임 역순으로 뒤집기
df.loc[:,::-1].head(3)

,title,time,screening_rat,release_time,num_staff,num_actor,genre,distributor,director,dir_prev_num,dir_prev_bfnum,box_off_num
0,개를 훔치는 완벽한 방법,109,전체 관람가,2014-12-31,292,8,드라마,리틀빅픽처스,김성호,1,495535.0,306642
1,"1789, 바스티유의 연인들",129,전체 관람가,2014-09-18,3,5,뮤지컬,유니버설픽쳐스인터내셔널코리아,정성복,0,NaN,4778
2,18: 우리들의 성장 느와르,104,청소년 관람불가,2014-08-14,126,3,느와르,어뮤즈,한윤선,1,35348.0,1124

In [14]:
# 역순으로 뒤집어서 새로 저장
df = df.loc[:,::-1]

### 데이터 살펴보기

In [17]:
# 데이터 프레임을 이루고 있는 컬럼명 추출
# 'title', 'time', 'screening_rat', 'release_time', 'num_staff','num_actor', 'genre', 'distributor', 'director', 'dir_prev_num', 'dir_prev_bfnum', 'box_off_num'의 컬럼들을 가지고 있음
df.columns

Index(['title', 'time', 'screening_rat', 'release_time', 'num_staff',
       'num_actor', 'genre', 'distributor', 'director', 'dir_prev_num',
       'dir_prev_bfnum', 'box_off_num'],
      dtype='object')

In [18]:
# 데이터 프레임의 행, 열 크기 확인
# 600개의 행과 12개의 열을 가지고 있음
df.shape

(600, 12)

In [16]:
# 데이터에 대한 전반적인 정보 확인
# 총 컬럼의 수는 600개이며, float 타입 1개, int 타입 5개, object 타입 6개로 구성
# dir_prev_bfnum이 270개로 NaN값이 330개 존재한다는 것을 유추할 수 있음
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
title             600 non-null object
time              600 non-null int64
screening_rat     600 non-null object
release_time      600 non-null object
num_staff         600 non-null int64
num_actor         600 non-null int64
genre             600 non-null object
distributor       600 non-null object
director          600 non-null object
dir_prev_num      600 non-null int64
dir_prev_bfnum    270 non-null float64
box_off_num       600 non-null int64
dtypes: float64(1), int64(5), object(6)
memory usage: 56.3+ KB

### 결측치 처리

### 이상치 처리

### 중복값 처리